@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.TextOpacity {
  animation: fadeIn 1.5s ease-in-out;
}

.text2 {
  font-size: 1.1rem;
  line-height: 2rem;
}

.flexRow {
  display: flex;
}

.headinglg {
  font-size: 3rem;
}

.serviceCard {
  width: 23rem;
  height: 24rem;
}
.serviceCardTop {
  width: clamp(23rem, 40vw, 34rem);
  height: auto;
}

.techImage {
  width: 6.5rem;
  height: auto;
}

.rabbitImg {
  width: 6rem;
  height: auto;
}

.techHeading {
  font-size: 1.5rem;
}

.techContainer {
  display: flex;
  width: clamp(40rem, 80vw, 80rem);
  justify-content: space-between;
  margin-top: 1rem;
}

.valueImg {
  width: 120rem;
  height: auto;
  margin-top: 2rem;
  margin-left: 2rem;
}

.learnBtn {
  border-width: 0.2rem;
  border-color: #5545a0;
  width: 10rem;
  height: 3rem;
  border-radius: 0.5rem;
  font-weight: bold;
  margin-top: 2rem;
  color: #000;
}

.heading1 {
  font-size: var(--section-heading);
  font-weight: bold;
}

.headingMargin {
  margin-top: 2rem;
}
@media screen and (max-width: 870px) {
  .btnSignup {
    font-size: 2.6vw;
    border-radius: 1.7vw;
    height: 8vw;
    width: auto;
    border: 0.15vw solid white;
  }

  .heading1 {
    font-size: var(--section-heading-mob);
  }

  .learnBtn {
    border-width: 0.5vw;
    border-color: #5545a0;

    border-radius: 1.5vw;
    font-weight: bold;
    /* margin-top: 2vw; */
    color: #000;
    width: 23vw;
    height: 8vw;
    margin-top: 5vw;
    align-items: center;
    justify-content: center;
  }

  .headingMargin {
    margin-top: 10vw;
    margin-bottom: 10vw;
  }
  .premerTxt {
    background-color: #5545a0;
    color: white;
    padding: 1vw;
    border-radius: 0.7vw;
  }

  .headinglg {
    font-size: var(--header-heading-mob);
    margin-top: 5vw;
    margin-bottom: 3vw;
  }
  .techHeading {
    font-size: 3.4vw;
  }

  .text1 {
    font-size: 2.9vw;
    line-height: 6vw;
  }

  .techContainer {
    flex-wrap: wrap;
    width: 70vw;

    align-self: center;
  }
  .techImage {
    width: 18vw;
  }

  .rabbitImg {
    width: 17vw;
  }

  .serviceCard {
    width: 70vw;
    align-self: center;
  }
  .serviceCardTop {
    width: 90vw;
    align-self: center;
  }

  .flexRow {
    flex-direction: column;
    gap: 7vw;
  }

  .text2 {
    font-size: 2.8vw;
    line-height: 4.2vw;
  }

  .assessmentsWidth {
    width: 80vw;
    /* margin-bottom: 10vw; */
  }

  .consultants {
    margin-top: 5vw;
    margin-bottom: 10vw;
  }
}
